.nav {
}
.nav__top {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e5e5e5;
}
.nav__top-list {
  @include reset-list;
}
.nav__top-list-item {
}
.nav__top-list-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 8px 25px;
  font-size: 16px;
  line-height: 20px;
  color: #898989;
  &:hover {
    background-color: #f4f4f4;
  }
  &:hover::before {
    background-image: url("/images/home--active.svg");
  }
}
.nav__top-list-link:hover .nav__top-list-img path {
  fill: #ff0000;
}
.nav__top-list-img {
  display: block;
  margin-right: 24px;
}
.nav__bottom {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e5e5e5;
}
.nav__bottom-list {
  @include reset-list;
}

.nav__bottom-list-item {
}
.nav__bottom-list-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 8px 25px;
  font-size: 16px;
  line-height: 20px;
  color: #898989;
  &:hover {
    background-color: #f4f4f4;
  }
  &:hover::before {
    background-image: url("/images/home--active.svg");
  }
}
.nav__bottom-list-link:hover .nav__bottom-list-img path {
  fill: #ff0000;
}
.nav__bottom-list-img {
  display: block;
  margin-right: 24px;
}
